# This is an example mods.toml file. It contains the data relating to the loading mods.
# There are several mandatory fields (#mandatory), and many more that are optional (#optional).
# The overall format is standard TOML format, v0.5.0.
# Note that there are a couple of TOML lists in this file.
# Find more information on toml format here:  https://github.com/toml-lang/toml
# The name of the mod loader type to load - for regular FML @Mod mods it should be javafml
modLoader="javafml" #mandatory
# A version range to match for said mod loader - for regular FML @Mod it will be the forge version
loaderVersion="[35,)" #mandatory (28 is current forge version)
# A URL to refer people to when problems occur with this mod
issueTrackerURL="http://my.issue.tracker/" #optional

license="GNU Lesser General Public License v3.0"
# A list of mods - how many allowed here is determined by the individual mod loader
[[mods]] #mandatory
# The modid of the mod
modId="ars_creo" #mandatory
# The version number of the mod - there's a few well known ${} variables useable here or just hardcode it
version="${file.jarVersion}" #mandatory
 # A display name for the mod
displayName="Ars Creo" #mandatory
# A URL to query for updates for this mod. See the JSON update specification <here>
#updateJSONURL="http://myurl.me/" #optional
# A URL for the "homepage" for this mod, displayed in the mod UI
#displayURL="http://example.com/" #optional
# A file name (in the root of the mod JAR) containing a logo for display
#logoFile="examplemod.png" #optional
# A text field displayed in the mod UI
credits="" #optional
# A text field displayed in the mod UI
authors="" #optional
# The description text for the mod (multi line!) (#mandatory)
description='''
Adds compatibility between Ars Nouveau and Create
'''
# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.ars_creo]] #optional
    # the modid of the dependency
    modId="forge" #mandatory
    # Does this dependency have to exist - if not, ordering below must be specified
    mandatory=true #mandatory
    # The version range of the dependency
    versionRange="[38.1.0,)" #mandatory
    # An ordering relationship for the dependency - BEFORE or AFTER required if the relationship is not mandatory
    ordering="NONE"
    # Side this dependency is applied on - BOTH, CLIENT or SERVER
    side="BOTH"
# Here's another dependency
[[dependencies.ars_creo]]
    modId="patchouli"
    mandatory=true
    versionRange="[1.18.1-61,)"
    ordering="AFTER"
    side="BOTH"

[[dependencies.ars_creo]]
    modId="curios"
    mandatory=true
    versionRange="[1.18.1-5.0.3.0,)"
    ordering="AFTER"
    side="BOTH"

[[dependencies.ars_creo]]
    modId="geckolib3"
    mandatory=true
    versionRange="[3.0.1,)"
    ordering="AFTER"
    side="BOTH"
[[dependencies.ars_creo]]
    modId="ars_nouveau"
    mandatory=true
    versionRange="[2.0.2,)"
    ordering="AFTER"
    side="BOTH"
[[dependencies.ars_creo]]
    modId="create"
    mandatory=true
    versionRange="[0.5,)"
    ordering="AFTER"
    side="BOTH"